.square{
  border: 2px solid black;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size:xx-large ;
  cursor: pointer;
  background-color: white;
  line-height: 50px; 
   padding: 0; 
   outline: none;
  vertical-align: middle;
}
.play_button{
  margin: 10px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: x-large;
  border: 2px  solid black;
  border-radius: 30%;
  padding: 3px 30px;
}
.board-row{

}